 * {
    box-sizing: border-box;
    font-size: 16px;
 }

body {
   font-family: 'Raleway', san;
    color: var(--dark);
    line-height: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

:root{
      /* Color Theme Swatches in Hex. These colors were copied from "Adobe Color" . This color pallete was created by "Erva Design".*/
  --primary: #04bf9d; 
  --secondary: #F2994B; 
 --tertiary: #F28749; 
  --accent: #A62F03; 
  --dark: #020202; 
}

h1,
h2,
h3,
h4,
h5 {
     margin:  0; 
    font-family: 'Lora', serif;
}

p {
    margin: 0;
}

main {
   
   margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 4%; 
}

/* HEADER */


/* ABOUT ME */
 .page-section {
    display: flex;
    border: 5px solid black;
    width: 70%;
    height: 85%;
    /* padding: 2%; */
} 

.page-section h3 {
    padding-right: 5%;
    border-right: 4px solid var(--dark);
    font-size: 3vw;
    line-height: 1.1;
}

 .page-section p {
    padding-left: 3%;
    margin-left: 3%;
}

.aboutSection {
    padding: 7%;
} 

/* PORTFOLIO */
.portfolioSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline; 
    width: 100%;

}


 .portfolioItem {
    border: 5px solid var(--accent);
    color: var(--dark);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 70%;
}

.portfolioItem:hover {
    opacity: .75;
}


 .portfolioItem div {
    /* background-color: var(--secondary); 
    padding: 8px 10px; */
    width: 80%;
    height: 90%;
}
.portfolioItem h3 {
    font-size: 1.6rem;
}

.portfolio1 {
     background-image: url("../Early-Stage-Portfolio-/assets/images/communityart.jpeg");

    /* width: 100%;  */
} 

.portfolio2 {
    background-image: url("./assets/images/monochromatic.jpg");
    /* width: 100%; */
}

.portfolio3 {
    background-image: url("./assets/images/pinkRose.jpg");
    /* width: 100%; */
}

